<button>
   <a href="/api/workouts"> workouts </a>
</button>
<button>
   <a href="/api/workouts/add"> add workouts </a>
</button>

<% if (user && user.username) { %>
   Hello! <%= user.username %>
   <button>
       <a href="/logout"> logout </a>
   </button>
<% } else { %>
   Hello! Guest
   <button>
       <a href="/login"> login </a>
   </button>
<% } %>
