<h1>welcome to my Update form</h1>

<form action="/api/workouts" method="PUT" class="form-example">

      <label for="name">the workout that you want to change </label>
      <input type="text" name="name" id="name" required />

      <input type="submit" value="add a new workout!" />

  </form>
